---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Page Not Found | Omaha Electrician" description="We couldn't find that page.">
  <h1>Page not found</h1>
  <p>Sorry, we can’t find that page. Try the <a href="/">homepage</a>.</p>
</BaseLayout>


